body {
  margin: 0;
  padding: 0;
}

@layer components {
  .btn-primary {
    @apply py-1 px-2 bg-primary text-white rounded disabled:opacity-50
  }

  .input-primary {
    @apply border rounded h-9 px-4
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}